h1{
	font-family: "楷体";
	color: #b7c1ff;
	padding-top: 60px;
}
body{
	text-align: center;
	background-image: url(../img/bg2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.myinfo{
	padding-left: 24%;
	padding-top: 30px;
}
table{
	text-align: left;
}
img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
td{
	padding: 10px 20px;
}